.container {
  margin: 20px;
  width: 100%;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.def {
  color: black;
}
.item {
  width: 30%;
  list-style-type: none;
  background-color: rgb(130, 127, 124);
  box-shadow: 0 0 6px 3px #bfbfbf;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.poster {
  height: 150px;
  width: 100px;
  margin-right: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  width: 100%;
}
.name {
  min-width: 100%;
}
.view {
  background-color: aqua;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
}
